
body{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align:center;
	background-image:url(../img/img3.jpg);
	background-size:contain;
	
	
	
	}

h1{ color:#00F;
	}



#container {
		
		width:1200px;
		height:1000px;
		border-radius:6px;
		box-shadow:0 10px 30px #000000;
		margin:200px auto;
		border: 1px #FFFFFF40;
		
		
		
		}
		
.filter{
		-webkit-backdrop-filter:blur(15px);
		backdrop-filter:blur(15px);
		background-color: rgba(243,243,243,0.2);
		}
